*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #ccd5ae;
    --color-secondary: #e9edc9;
    --text-color: #d4a373;
    --text-color-secondary: #bc6c25;

    font-size: 62.5%; ;
}

body{
    font-family: sans-serif;
    background-color: var(--color-secondary);
}

h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    color: var(--text-color-secondary);
}

.main{
    place-items: center;
    align-content: start;
    text-align: center;
    
    background-color: var(--color-primary);
   
    width: 50rem;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #00000056;
    border-radius: .3rem;
}

label{
    font-size: 1.6rem;
    color: var(--text-color-secondary);
    margin-top: 2.5rem;
}

input{
    outline: none;
    border: 1px solid #bc6c25;
    background-color: ffffffe7;
    width: 50%;
    height: 3.5rem;
    border-radius: .3rem;
    margin-top: .5rem;
    text-align: left;
    padding: .3rem;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 4rem;
    border: none;
    color: var(--text-color-secondary);
    font-size: 1.6rem;
    font-weight:500;
    border-radius: .3rem;
    background-color: #ffffffe7;
    box-shadow: 1px 1px 10px #00000028;
    cursor: pointer;
    transition: all .5s;
}

button:hover{
    background-color: #e9edc9;
}

.entrada,
.saida
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

pre{
    font-size: 1.6rem;
    margin-top: 0rem;
    background-color: #e9edc9;
    width: 100%;
    border-radius: .3rem;
}

